.nosotros{
    @include desktop{
        @include grid(2, 3rem)
    }
    .nosotros__img{
        display: flex;
        align-items: center;
    }
    .nosotros__txt{
        text-align: justify;
    }
    .nosotros__txt-bold{
        font-weight: $black;
    }
}
.seccion__titulo{
    line-height: 1.2;
}